.title {
	width: 20px;
}

.completed {
	color: gray;
	font-style: italic;
	text-decoration: line-through;
}

.row {
	border-bottom: 2px solid rgb(201, 201, 201);
}

.content {
	height: 50px;
	width: 50px;
	text-align: end;
}

.button {
	color: #d42c2c;
	font-weight: bold;
	background-color: white;
	border: none;
}

.button:hover {
	color: #a72f2f;
}
